<!doctype html>
<html>
  <head>
    <title>Task Manager</title>
  </head>
  <body>
    <h1>My Tasks</h1>
    <form method="POST">
      {% csrf_token %} {{ form }}
      <button type="submit">Add Task</button>
    </form>
    <ul>
      {% for task in tasks %}
      <li>
        {{ task.name }}
        <a href="{% url 'delete_task' task.id %}">Delete</a>
      </li>
      {% endfor %}
    </ul>

    <form method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
